.chat-boot-react {
  margin-top: 50px;
  min-height: 550px;
  background: #f4fbfa;
  box-shadow: 0 0 6px 0px #b1b1b1;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
  .str-chat__loading-indicator {
    width: 40px !important;
    height: 40px !important;
    svg {
      width: 40px;
      height: 40px;
    }
  }
  .str-chat-channel-list {
    width: 25%;
    height: 70vh;
  }
  .str-chat-channel {
    width: 70%;
    height: 70vh;
  }
}
