.chat-feeds-wrapper{
  border-top: 1px solid #e0e0e0;
}
.chat-full-screen{
  max-height: calc(100vh - 120px);
}
.client-chat-wrapper{
  padding: 0px;
  .channel-list-wrapper{
    background-color: $Theme-white;
    min-height: calc(100vh - 121px);
    max-height: calc(100vh - 121px);
    overflow: auto;
    border-radius: 0px;
    border-right: 1px solid #e0e0e0;
    ul{
      li{
        border-bottom: 1px solid #f2f2f2;
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        justify-content: space-between;
        &.activeChat{
          background-color: #ebebeb;
        }
        a{
          display: flex;
          padding: 12px;
          cursor: pointer;
          &:hover{
            background-color: #f5f6f7;
          }
        }
        .client-avtar{
          margin-right: 10px;
          flex: 0 0 10%;
        }
        &:last-child{
          border-bottom: none;
        }
        .client-avtar{
          img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .client-info{
          flex: 0 0 75%;
          h5{
            font-size: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            height: 1.2em;
            white-space: nowrap;
            color: $Dark-heading;
          }
          p{
            font-size: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            height: 1.2em;
            color: grey;
            white-space: nowrap;
          }
        }
        .channel-action{
          position: relative;
          height: 30px;
          flex: 0 0 13%;
          .btn-action{
            z-index: 999;
            padding: 5px;
            svg{
              width: 15px;
              height: 15px;
              cursor: pointer;
              fill: grey;
            }
          }
          &:hover{
            .dropdown-menu{
              display: block;
            }
          }
          .dropdown-menu{
            right: 0px;
            left: auto;
            top: 100%;
            margin: 0px;
            padding: 0px;
            box-shadow: 2px 3px 5px #eae9e9;
            li{
              border-bottom: 1px solid #f2f2f2;
              display: block;
              padding: 5px 15px;
              color: grey;
            }
          }
        }
      }
    }
    .client-search-box{
      border-bottom: 1px solid #e0e0e0;
      height: 60px;
      position: relative;
      padding: 12px 15px;
      .btn-submit{
        position: absolute;
        right: 20px;
        top: 17px;
        border: none;
        background-color: transparent;
        svg{
          fill: #a0a0a0;
          width: 18px;
          height: 18px;
        }
      }
      .form-control{
        border: none;
        padding-right: 35px;
      }
    }
  }
  .channel-single-discussion{
    background-color: $Theme-white;
    min-height: calc(100vh - 121px);
    max-height: calc(100vh - 121px);
    position: relative;
    .client-chatbox-header{
      padding: 15px 20px;
      border-bottom: 1px solid #f2f2f2;
      h5{
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        height: 1.2em;
        white-space: nowrap;
        color: $Dark-heading;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
          color: grey;
        }
      }
      p{
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        height: 1.2em;
        color: grey;
        white-space: nowrap;
      }
    }
    .client-textarea-box{
      position: absolute;
      bottom: 0px;
      width: 100%;
      border-top: 1px solid #e0e0e0;
      .form-control{
        min-height: 80px;
        border: none; 
        font-size: 14px;
        padding: 10px;
        padding-right: 55px;
      }
      .emoji-button{
        border: none;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        background-color: #fff;
      }
      .btn-submit{
        position: absolute;
        top: 15px;
        right: 30px;
        background-color: transparent;
        border: none;
        svg{
          path{
            fill: grey;
          }
        }
      }
      .emoji-action{
        .message-launch{
          position: absolute;
          bottom: 82px;
          left: 10px;
          display: flex;
          align-items: center;
          .close-emoji{
            background-color: #f72f2f;
            color: #fff;
            border: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            position: absolute;
            top: -4px;
            right: -4px;
            z-index: 9;
          }
          .emoji-icon{
            margin-right: 20px;
          }
           svg{
             fill: #a0a0a0;
             width: 16px;
             height: 16px;
             cursor: pointer;
           }
           button{
             padding: 10px 0px;
           }
        }
      }
    }
  }
}
.client-employer-chat{
  min-height: calc(100vh - 278px);
  max-height: calc(100vh - 278px);
  >div{
    min-height: calc(100vh - 278px);
    max-height: calc(100vh - 278px); 
    >div{
      min-height: calc(100vh - 278px);
      max-height: calc(100vh - 278px);
    }
  }
  ul{
    li{
      display: flex;
      padding: 15px;
      width: 70%;
      &:hover{
        background-color: #f8f8f8;
      }
      &.rightChat{
        justify-content: flex-end;
        margin-left: auto;
        .chat-avtar{
         
        }
        .chat-full-desc{
          width: 100%;
          text-align: right;
          padding-right: 10px;
          padding-left: 0px;
        }
      }
      .chat-avtar{
        margin-right: 10px;
        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .chat-full-desc{
        padding-left: 10px;
        width: 90%;
        h5{
          margin-bottom: 2px;
          font-size: 16px;
        } 
        span{
          color: darkgrey;
          font-weight: 300;
          font-size: 12px;
        }
        p{
          font-size: 14px;
          width: 90%;
          color: grey;
          white-space: pre-wrap;
          margin-left: auto;
          word-break: break-word;
        }
      }
    }
  }
}