.chat-feeds-wrapper{
  border-top: 1px solid #e0e0e0;
}
.client-chat-wrapper{
  padding: 0px;
  .channel-list-wrapper{
    background-color: $Theme-white;
    min-height: calc(100vh - 121px);
    max-height: calc(100vh - 121px);
    overflow: auto;
    border-radius: 0px;
    border-right: 1px solid #e0e0e0;
    ul{
      li{
        border-bottom: 1px solid #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        cursor: pointer;
        &.activeChat{
          background-color: #ebebeb;
        }
        a{
          display: flex;
          padding: 12px;
          cursor: pointer;
          &:hover{
            background-color: #f5f6f7;
          }
        }
        // &:hover{
        //   .channel-action{
        //     .btn-action{
        //       display: block;
        //     }
        //   }
        // }
        .client-avtar{
          margin-right: 10px;
          flex: 0 0 10%;
        }
        &:last-child{
          border-bottom: none;
        }
        .client-avtar{
          img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .client-info{
          flex: 0 0 75%;
          h5{
            font-size: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 92%;
            height: 1.2em;
            white-space: nowrap;
            color: $Dark-heading;
          }
          p{
            font-size: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 92%;
            height: 1.2em;
            color: grey;
            white-space: nowrap;
          }
        }
        .channel-action{
          position: relative;
          height: 30px;
          flex: 0 0 13%;
          .btn-action{
            z-index: 999;
            svg{
              width: 15px;
              height: 15px;
              cursor: pointer;
              fill: grey;
            }
            // &:hover{
            //   ~.dropdown-menu{
            //     display: block;
            //   }
            // }
          }
          .dropdown-menu{
            right: 0px;
            left: auto;
            top: 100%;
            margin: 0px;
            padding: 0px;
            box-shadow: 2px 3px 5px #eae9e9;
            li{
              border-bottom: 1px solid #f2f2f2;
              display: block;
              padding: 5px 15px;
              color: grey;
            }
          }
        }
      }
    }
    .client-search-box{
      border-bottom: 1px solid #e0e0e0;
      height: 60px;
      position: relative;
      padding: 12px 15px;
      svg{
        width: 18px;
        height: 18px;
        fill: #a0a0a0;
        position: absolute;
        left: 20px;
        top: 22px;
      }
      .form-control{
        border: none;
        padding-left: 35px;
      }
    }
  }
  .channel-single-discussion{
    background-color: $Theme-white;
    min-height: calc(100vh - 121px);
    max-height: calc(100vh - 121px);
    position: relative;
    .client-chatbox-header{
      padding: 15px 20px;
      border-bottom: 1px solid #f2f2f2;
      h5{
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        height: 1.2em;
        white-space: nowrap;
        color: $Dark-heading;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
          color: grey;
        }
      }
      p{
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        height: 1.2em;
        color: grey;
        white-space: nowrap;
      }
    }
    .client-textarea-box{
      position: absolute;
      bottom: 0px;
      width: 100%;
      border-top: 1px solid #e0e0e0;
      .form-control{
        min-height: 80px;
        border: none;
        font-size: 14px;
        padding: 10px;
      }
      .emoji-action{
        .message-launch{
          position: absolute;
          bottom: 0px;
          right: 15px;
          display: flex;
          align-items: center;
          .emoji-icon{
            margin-right: 20px;
          }
           svg{
             fill: #a0a0a0;
             width: 16px;
             height: 16px;
             cursor: pointer;
           }
           button{
             padding: 10px 0px;
           }
        }
      }
    }
  }
}
.client-employer-chat{
  min-height: calc(100vh - 278px);
  max-height: calc(100vh - 278px);
  >div{
    min-height: calc(100vh - 278px);
    max-height: calc(100vh - 278px); 
    >div{
      min-height: calc(100vh - 278px);
      max-height: calc(100vh - 278px);
    }
  }
  ul{
    li{
      display: flex;
      padding: 15px;
      &:hover{
        background-color: #f8f8f8;
      }
      &.rightChat{
        justify-content: flex-end;
        .chat-avtar{
         
        }
        .chat-full-desc{
          width: 100%;
          text-align: right;
          padding-right: 10px;
        }
      }
      .chat-avtar{
        margin-right: 10px;
        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .chat-full-desc{
        h5{
          margin-bottom: 7px;
          span{
            color: darkgrey;
            font-weight: 300;
            font-size: 14px;
          }
        } 
        p{

        }
      }
    }
  }
}