:root {
  scroll-behavior: smooth;
}
body {
  font-family: $FontFamily;
  color: #444444;
  overflow: auto !important;
}
a {
  color: #444444;
  text-decoration: none;
}

a:hover {
  color: #20bead;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $FontFamily;
}
button:focus {
  box-shadow: none !important;
  outline: none !important;
}
.text-right {
  text-align: right !important;
}
ul {
  padding: 0px;
  margin: 0px;
  li {
    list-style-type: none;
  }
}
.modal-backdrop {
  display: none;
}
.modal-open .modal {
  background-color: #0000007d;
}
.inner-page-wrapper{
  padding-bottom: 30px;
  min-height: calc(100vh - 120px);
}
.main-content {
  background: #f1f2f4;
}
.btn-save {
  min-width: 130px;
  font-size: 18px !important;
}
.render-select{
  position: relative;
  &::before{
    content: "";
    background-image: url('./../assets/icons/arrow-down.png');
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 16px;
    background-size: 17px;
    background-position: right;
    background-repeat: no-repeat;
    z-index: 999;
  }
}
// Footer
.footer-main {
  background: #d5d5d5;
  position: relative;
  p {
    margin: 0 0;
    padding: 17px 0;
    text-align: center;
    font-size: 14px;
    color: #828382;
  }
}

.complete-pr-time{
  img{
    width: 20px;
  }
}

.uploaded-documents{
  margin-top: 3px;
  li{
    font-size: 12px;
    .btn-remove{
      padding: 0px;
      padding-left: 10px;
      i{
        color: red;
      }
    }
    .change-title{
      display: block;
      width: 100%;
      label{
        display: block !important;
        font-size: 12px;
        font-weight: 500;
      }
      input{
        color: grey;
        padding: 5px 10px;
        height: 36px !important;
        background-color: #f8f8f8;
        border: 1px solid #e9e9e9;
        border-radius: 6px;
        width: 100%;
        font-size: 12px;
        outline: 0px;
        box-shadow: none;
        &:focus{
          border: 1px solid #53bead !important;
        }
      }
      .edit-profile-file{
        width: 50%;
      }
      .btn{
        .fa{
          font-weight: 500 !important;
          font-size: 13px;
        }
      }
    }
    .uploaded-file-name{
      display: flex;
      align-items: center;
      justify-content: space-between;
      span{
        font-size: 12px;
        font-weight: 400;
      }
      .btn{
        .fa{
          font-weight: 500 !important;
          font-size: 13px;
        }
      }
    }
  }
}

// Loader
.data-loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: #00000061;
  span{
    border-color: rgb(250, 250, 250) rgb(250, 250, 250) transparent !important;
  }
}
.search-data-loader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  background-color: #fff;
  border-radius: 5px;
}
.fullpage-loader{
  width: 100%;
  background-color: #fff;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-wrapper-loader{
  display: flex;
  align-items: center;
  .fullpage-loader{
    background-color: #f1f2f4;
  }
}

// Common Pagination
.pagination{
  padding: 15px 0px 20px;
  display: flex;
  justify-content: flex-end;
  li{
    margin: 0px 6px;
    width: 35px;
    height: 35px;
    background-color: #f4f4f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:disabled{
      cursor: not-allowed;
    }
    &.active{
      background-color: #0e9586;
      a{
        color: #fff;
      }
    }
    a{
      color: #a9a9a9;
      font-size: 16px;
      border-radius: 50%;
      line-height: 22px;
      &:hover{
        color: #444444;
      }
    }
  }
}

.inner-multi-field-2 {
  display: flex;
  justify-content: space-between;
  .form-field{
    label{
      display: block !important; 
    }
  }
}

// React responsive Modal
.react-responsive-modal-modal{
  border: none;
  padding: 0px;
  box-shadow: none;
  border-radius: 5px;
}
.react-theme-modal{
  margin: 0px;
  padding: 0px;
  border: none;
  .modal-header{
    padding: 16px;
    border-bottom: 1px solid #dee2e6;
  }
}
.buy-connect-form{
  padding-top: 20px;
  padding-bottom: 20px; 
  .form-field{
    span{
      display: block;
      color: darkgrey;
      padding: 2px 0px;
    }
    .form-control{
      height: 50px;
    }
  }
}

.common-inner-sec{
  min-height: 70vh;
}