:root {
  scroll-behavior: smooth;
}
body {
  font-family: $FontFamily;
  color: #444444;
}
a {
  color: #444444;
  text-decoration: none;
}

a:hover {
  color: #20bead;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $FontFamily;
}
button:focus {
  box-shadow: none !important;
  outline: none !important;
}
.text-right {
  text-align: right !important;
}
ul {
  padding: 0px;
  margin: 0px;
  li {
    list-style-type: none;
  }
}
.modal-backdrop {
  display: none;
}
.modal-open .modal {
  background-color: #0000007d;
}
.main-content {
  background: #f1f2f4;
}
.btn-save {
  min-width: 130px;
  font-size: 18px !important;
}
// Footer
.footer-main {
  background: #d5d5d5;
  position: relative;
  p {
    margin: 0 0;
    padding: 17px 0;
    text-align: center;
    font-size: 14px;
    color: #828382;
  }
}

.complete-pr-time{
  img{
    width: 20px;
  }
}

.uploaded-documents{
  margin-top: 3px;
  li{
    display: flex;
    align-items: center;
    font-size: 14px;
    .btn-remove{
      padding: 0px;
      padding-left: 10px;
      i{
        color: red;
      }
    }
  }
}
