.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 25px 0;
  .inner-logo {
    .logo {
      img {
        @include Phone {
          width: 110px;
        }
        @include Tablet {
          width: 110px;
        }
      }
    }
  }
  .right-side-nav {
    display: flex;
    align-items: center;
    @include Phone {
      padding-right: 50px;
    }
    .navbar {
      padding: 0px;
      @include Phone {
        position: absolute;
        right: 0;
        top: 0px;
      }
      &.navbar-mobile {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(19, 46, 49, 0.9);
        transition: 0.3s;
        z-index: 2;
        ul {
          display: block;
          position: absolute;
          top: 55px;
          right: 15px;
          bottom: 15px;
          left: 15px;
          padding: 10px 0;
          border-radius: 10px;
          background-color: #fff;
          overflow-y: auto;
          transition: 0.3s;
          li {
            a {
              padding: 10px 20px;
              font-size: 15px;
              color: #7e7e7e;
              &.active {
                color: #0e9586;
              }
            }
          }
        }
        .mobile-nav-toggle {
          top: 0px;
          .fa-times {
            display: block;
            color: #fff;
          }
          .fa-bars {
            display: none;
          }
        }
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
        @include Phone {
          display: none;
        }
        li {
          position: relative;
          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1px 0px 0px 30px;
            font-size: 16px;
            font-weight: 500;
            color: #0c6e63;
            white-space: nowrap;
            transition: 0.3s;
            @include Tablet {
              padding: 1px 0px 0px 15px;
            }
            &.active {
              font-weight: 700;
            }
          }
        }
      }
      .mobile-nav-toggle {
        color: #012970;
        font-size: 28px;
        cursor: pointer;
        display: none;
        line-height: 0;
        transition: 0.5s;
        @include Phone {
          display: block;
          position: absolute;
          right: 15px;
          top: 20px;
        }
        .fa {
          font-size: 27px;
          color: #25383c;
        }
        .fa-times {
          display: none;
        }
      }
    }
    .head-notification {
      margin-left: 60px;
      @include Phone {
        margin-left: 20px;
      }
      @include Tablet {
        margin-left: 20px;
      }
      .notification-ico {
        position: relative;
        .n-alert {
          display: inline-block;
          background: #f93e3e;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          position: absolute;
          right: 5px;
        }
        img {
          width: 24px;
        }
      }
    }
    .signin-user {
      margin-left: 20px;
      position: relative;
      .dropdown {
        .dropdown-toggle {
          color: #0c6e63 !important;
          font-size: 16px !important;
          background: transparent !important;
          padding: 0;
          border: 0 !important;
          font-weight: 700 !important;
          &::after {
            display: none;
          }
          img {
            object-fit: cover;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin-left: 10px;
          }
        }
        .dropdown-menu {
          left: unset !important;
          right: 0 !important;
          min-width: 190px;
          background: #fff;
          padding: 0px;
          box-shadow: 0 0 3px 0px #f0f0f0;
          border-top: 3px solid #409185;
          li {
            a {
              padding: 7px 17px;
              display: block;
              color: #505050;
              &:hover {
                cursor: pointer;
                background-color: #e7e7e7;
              }
              i {
                color: #505050;
                min-width: 28px;
              }
            }
          }
        }
      }
    }
  }
}
.notification-ico {
  .dropdown-toggle {
    background-color: transparent;
    border: none;
    &::after {
      display: none;
    }
  }
  .notifi-badge {
    position: absolute;
    background-color: red;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #ffff;
    padding: 1px;
    font-weight: 600;
    left: 16px;
    top: -5px;
  }
  .notification-link {
    color: #1c7469;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .dropdown-menu {
    left: auto;
    right: 0px;
    right: 0 !important;
    min-width: 380px;
    background: #fff;
    padding: 0px;
    box-shadow: 0 0 3px 0px #f0f0f0;
    border-top: 3px solid #409185;
    li {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 15px;
      border-bottom: 1px solid lightgrey;
      .notification-heading {
        display: flex;
        align-items: flex-start;
        p {
          font-size: 15px;
          line-height: 17px;
          margin-bottom: 6px;
        }
      }
      i {
        margin-right: 10px;
        color: darkgrey;
        position: relative;
        top: 2px;
      }
      span {
        flex: 0 0 100%;
        font-size: 13px;
        line-height: 13px;
        color: grey;
      }
    }
  }
}
