section.complete-kyc {
  padding: 24px 0;
  .kyc-update {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fae0e0;
    padding: 7px 0;
    border-radius: 8px;
    @include Phone {
      padding: 10px;
      text-align: center;
      flex-direction: column;
    }
    p {
      margin: 0;
      font-size: 16px;
      color: #de6f6f;
      @include Phone {
        margin: 0 0 10px;
      }
    }
    button {
      &.submit-kyc {
        background: #e77575;
        color: #fff;
        padding: 7px 10px;
        border-radius: 5px;
        font-weight: 600;
        margin-left: 10px;
      }
    }
  }
}
.topbg-banner {
  position: relative;
  height: 169px;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 169px;
    top: 0px;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(
      rgba(7, 17, 19, 0.8),
      rgba(20, 47, 50, 0.95)
    );
  }
  &::after {
    content: '';
    position: absolute;
    background: url('./../assets/images/bg-banner.jpg');
    width: 100%;
    top: 0;
    left: 0;
    height: 169px;
  }
  .innerbg-banner {
    position: relative;
    z-index: 1;
    .banner-edit {
      text-align: right;
      padding-top: 10px;
      display: flex;
      justify-content: flex-end;
      a {
        &.btn {
          color: #20bead;
          border-bottom: 1px solid;
          border-radius: 0;
          padding: 0;
        }
      }
    }
  }
}
.job-feeds-wrapper {
  margin-top: -140px;
  position: relative;
  z-index: 1;
  @include Phone {
    margin-top: -110px;
  }
  .profile-feed-inner {
    display: flex;
    @include Phone {
      flex-direction: column;
    }
    @include Tablet {
      flex-direction: column;
    }
    .user-profile-left {
      width: 340px;
      min-width: 340px;
      @include Phone {
        width: 100%;
        min-width: 100%;
      }
      @include TabletLandscape {
        width: 300px;
        min-width: 300px;
      }
      .user-profile-coll {
        background: #f4fbfa;
        box-shadow: 0 0 6px 0px #b1b1b1;
        border-radius: 10px;
        .user-profile-detail {
          padding: 20px;
          text-align: center;
          .profile-pic-progress {
            .profile-img {
              background: #fff;
              padding: 4px;
              width: 128px;
              object-fit: cover;
              border-radius: 50%;
              height: 128px;
              display: block;
              margin: auto;
              img {
                display: block;
                width: 128px;
                object-fit: cover;
                border-radius: 50%;
                height: 128px;
                background-color: #c2c3c5;
              }
            }
          }
          h3 {
            font-size: 27px;
            font-weight: 700;
            margin-bottom: 0;
            margin-top: 15px;
          }
          p {
            margin: 0;
            font-weight: 600;
            color: #717171;
          }
        }
        .profile-connect {
          background: #def5f2;
          padding: 20px 0;
          text-align: center;
          .profile-con {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              margin-right: 10px;
            }
            .conn-count {
              font-size: 28px;
              color: #0d6d62;
              font-weight: 800;
            }
          }
          h4 {
            font-size: 16px;
            color: #528b85;
            font-weight: 600;
            margin: 0;
          }
        }
        .user-prof-info {
          .prof-info-ul {
            padding: 15px;
            margin: 0;
            li {
              list-style: none;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 15px;
              font-size: 14px;
              color: #576967;
              span {
                flex: 0 0 55%;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
                color: grey;
                white-space: nowrap;
                &.result {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
}
.jobs-feeds-sec {
  width: 100%;
  padding-left: 30px;
  @include Phone {
    padding-left: 0px;
  }
  @include Tablet {
    padding-left: 0px;
  }
  .btn-save{
    height: 40px;
  }
  .jobs-com-profile {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 35px;
    @include Phone {
      padding: 10px;
      background: #e4edec;
      align-items: flex-start;
      margin-top: 25px;
      margin-bottom: 25px;
      flex-direction: column;
    }
    @include Tablet {
      padding: 10px;
      background: #e4edec;
      align-items: flex-start;
      margin-top: 25px;
      margin-bottom: 25px;
      flex-direction: column;
    }
    .profile-update {
      @include Phone {
        width: 100%;
        margin-bottom: 20px;
      }
      .profile-jobs {
        margin: 0;
        padding: 0;
        display: flex;
        @include Phone {
          justify-content: space-between;
        }
        li {
          list-style: none;
          position: relative;
          margin-right: 40px;
          text-align: center;
          @include Phone {
            margin-right: 15px;
          }
          &:last-child {
            a {
              &::after {
                display: none;
              }
            }
          }
          a {
            color: #fff;
            font-size: 21px;
            font-weight: 700;
            display: flex;
            align-items: center;
            @include Phone {
              color: #405451;
              font-size: 16px;
            }
            @include Tablet {
              color: #405451;
              font-size: 16px;
            }
            .update-name {
              display: block;
              font-size: 16px;
              font-weight: 400;
            }
            &::after {
              content: '';
              background: #ebf1f0;
              position: absolute;
              width: 1px;
              height: 10px;
              right: -20px;
              top: 22px;
            }
          }
        }
      }
      p {
        color: #fff;
        margin: 0;
        padding: 20px 0 0;
        @include Phone {
          color: #05574e;
          font-size: 18px;
          padding: 10px 0px;
        }
        @include Tablet {
          color: #05574e;
          font-size: 18px;
          padding: 10px 0px;
        }
      }
    }
    .profile-strength {
      @include Phone {
        width: 100%;
      }
      .profile-strength-inner {
        width: 310px;
        @include Phone {
          width: 100%;
        }
        h3 {
          font-size: 16px;
          color: #fff;
          font-weight: 400;
          margin-bottom: 10px;
          @include Phone {
            color: #405451;
          }
          @include Tablet {
            color: #405451;
          }
          .profile-completed {
            font-weight: 700;
          }
        }
        .profile-strength-bar {
          background: #fff;
          height: 10px;
          border-radius: 4px;
          position: relative;
          .profile-progress {
            margin: 0;
            height: 10px;
            background: #0e9586;
          }
          .profile-complete-bar {
            position: absolute;
            height: 10px;
            background: transparent;
            width: 100%;
            top: 0;
            span {
              &.complete-bar {
                display: inline-block;
                width: 1px;
                height: 8px;
                top: 1px;
                position: absolute;
                background-color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
.search-feeds-section {
  margin-top: 30px;
  .feed-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    @include Phone {
      flex-direction: column;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #363636;
      margin: 0;
      @include Phone {
        margin-bottom: 5px;
      }
    }
    p {
      margin: 0;
      color: #858585;
      font-weight: 400;
    }
  }
}
.default-feeds-search {
  .feeds-search-coll {
    background: #ffffff;
    border: 1px solid #e5f0ef;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    .feeds-search-head {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eaf3f2;
      padding-bottom: 15px;
      margin-bottom: 10px;
      @include Phone {
        flex-direction: column;
      }
      .feeds-head-left {
        display: flex;
        @include Phone {
          margin-bottom: 10px;
        }
        .feeds-s-logo {
          margin-right: 20px;
          img{
            width: 55px;
            height: 55px;
            border-radius: 50%;
          }
        }
        .feeds-s-name {
          h2 {
            margin-bottom: 6px;
            line-height: 24px;
            @include Phone {
              line-height: 14px;
              margin-bottom: 5px;
            }
            .desgination {
              font-weight: 400;
              font-size: 16px;
              color: #05574e;
              font-weight: 700;
            }
            a {
              font-size: 20px;
              color: #05574e;
              font-weight: 600;
              @include Phone {
                font-size: 16px;
              }
            }
          }
          p{
            color: #656565;
            font-size: 15px;
            margin-bottom: 20px;
          }
        }
      }
      .feeds-budget {
        text-align: center;
        @include Phone {
          text-align: left;
          margin-left: 0px;
        }
        p {
          margin: 0;
          font-size: 12px;
          color: #656565;
        }
        .project-budget {
          font-weight: 700;
          color: #132e31;
          font-size: 16px;
        }
      }
    }
    .feeds-search-detail {
      p {
        color: #656565;
        font-size: 16px;
        margin-bottom: 20px;
        overflow-wrap: break-word;
        word-break: break-word;
        a {
          color: #0e9586;
        }
      }
      .posted-submit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include Phone {
          flex-direction: column;
        }
        p {
          &.post-ago {
            margin: 0;
            font-size: 14px;
            color: #05574e;
            display: flex;
            align-items: center;
            @include Phone {
              width: 100%;
              margin-bottom: 10px;
            }
            img {
              margin-right: 9px;
              width: 18px;
            }
          }
        }
        .btn{
          height: 40px;
        }
        .submit-btn {
          background: #20bead;
          color: #fff;
          font-size: 14px;
          padding: 8px 30px;
          border-radius: 8px;
          @include Phone {
            width: 100%;
          }
        }
      }
    }
  }
}
.feeds-s-ul {
  margin: 0;
  padding: 0;
  display: flex;
  li {
    list-style: none;
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #05574e;
    font-weight: 500;
    img {
      margin-right: 5px;
      width: 18px;
    }
  }
}
.feeds-ul {
  margin: 0px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    list-style: none;
    margin-right: 10px;
    margin-bottom: 10px;
    a {
      background: #edf8f7;
      font-size: 14px;
      color: #819492;
      padding: 5px 15px;
      display: inline-block;
      border-radius: 20px;
      border: 1px solid #a7ddd7;
    }
  }
}
.feeds-search-bar {
  display: flex;
  justify-content: space-between;
  .search-bar {
    width: 100%;
    .form-inline {
      display: flex;
      .form-control {
        border: 1px solid #a7ddd7;
        background: #fff;
        height: 45px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      .btn-outline-success {
        background: #132e31;
        border: 0;
        font-size: 16px;
        width: 140px;
        height: 45px;
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
  .feed-filter {
    position: relative;
    .filter-btn {
      background: #e4edec;
      height: 45px;
      border-radius: 10px;
      width: 53px;
      margin-left: 20px;
      padding: 0;
      img {
        width: 36px;
      }
    }
  }
}
.filter-container-wrapper{
  background: #ffffff;
  border: 1px solid #e5f0ef;
  border-radius: 4px;
  padding: 20px 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  @include Phone{
    padding: 15px;
  }
  .form-field-group{
    margin-top: 0px;
    @include Phone{
      display: block;
    }
    .form-field{
      margin-bottom: 0px;
      flex: 1;
      padding: 0px 10px;
      @include Phone{
        margin-bottom: 12px;
        padding: 0px;
      }
      label{
        display: none;
      }
      .btn{
        height: 38px;
        width: 100%;
      }
    }
  }
}
.addskill-badge {
  margin-top: 10px;
  .badge {
    margin-bottom: 8px;
    &.badge-primary {
      background: #edf8f7;
      font-size: 14px;
      color: #5b948e;
      font-weight: 500;
      padding: 10px 15px;
      display: inline-block;
      border-radius: 5px;
      margin-right: 8px;
      button {
        background: transparent;
        border: none;
        box-shadow: none;
        margin: 0px;
        padding-right: 0px;
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  }
}
.modal-dialog {
  min-width: 600px;
  .btn-secondary{
    min-width: 120px;
    height: 40px;
    width: auto;
  }
  .button-submit {
    min-width: 120px;
    height: 40px;
    .button-submit-loader{
      display: flex;
      margin-right: 5px;
      span{
        width: 25px !important;
        height: 25px !important;
        border-color: rgb(250, 250, 250) rgb(250, 250, 250) transparent !important;
      }
    }
  }
  &.modal-large{
    min-width: 900px;
  }
}
.application-tag-status {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .application-status {
    display: flex;
    align-items: center;
    span {
      font-weight: 600;
      border-radius: 3px;
      padding: 4px 10px;
    }
    .status-pending {
      color: #f29339;
    }
    .status-approved {
      color: #228b22;
    }
    .status-rejected {
      color: #ed184b;
    }
    .btn-chatNow {
      background-color: #132e31;
      padding: 8px 12px;
      color: #fff;
      margin-left: 10px;
      font-size: 14px !important;
      img {
        width: 15px;
        margin-right: 7px;
      }
    }
  }
}
.application-list-card {
  background: #f4fbfa;
  box-shadow: 0 0 6px 0px #b1b1b1;
  border-radius: 10px;
  padding: 20px;
}
.review-listing-action {
  display: flex;
  align-items: center;
  .btn {
    height: 40px;
    color: #fff;
    font-size: 14px;
    padding: 8px 30px;
    border-radius: 8px;
  }
  .btn-primary {
    background: #20bead;
  }
  .btn-reject {
    background-color: #f72f2f;
  }
}


// Job details
.job-details-wrapper{
  padding: 30px 0px;
  h1{
    margin-bottom: 15px;
  }
  .details-card{
    padding: 20px;
    border-radius: 8px;
    background-color: $Theme-white;
    .head43{
      border-bottom: 1px solid #eaf3f2;
      padding-bottom: 15px;
      margin-bottom: 10px;
      h2{
        margin-bottom: 5px;
        @include flexCenterBetween;
        span{
          color: $labelColor;
          font-size: 13px;
          font-weight: 400;
        }
      }
      p{
        color: #6b6b6b;
      }
    }
    .education-info{
      margin-bottom: 30px;
      p{
        color: #6b6b6b;
        margin-bottom: 0px;
        padding-bottom: 7px;
      }
    }
    .job-description{
      padding-bottom: 10px;
      p{
        padding-bottom: 5px;
        color: #6b6b6b;
        word-break: break-word;
      }
    }
    .inner-info-section{
      padding-bottom: 10px;
      h3{
        margin-bottom: 10px;
      }
    }
  }
  .details-right-sidebar{
    padding: 20px 15px;
    border-radius: 8px;
    background-color: $Theme-white;
    .post-action{
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #eaf3f2;
      .btn{
        display: block;
        width: 100%;
        border-radius: 30px;
        font-size: 15px !important;
        height: 48px;
        line-height: 15px;
      }
      .btn-primary-outline{
        margin-top: 15px;
        border: 1px solid $Theme-secondary;
        color: $Theme-secondary;
      }
    }
    .connects-info{
      p{
        padding-bottom: 8px;
        color: #6b6b6b;
      }
    }
  }
}

.full-project-details{
  p{
    font-size: 14px;
    color: grey;
    margin: 5px 0px;
  }
  .attachment{
    cursor: pointer;
    a{
      color: $Theme-secondary;
      &:hover{
        text-decoration: underline;
      }
    }
    i{
      margin-right: 5px;
    }
  }
}

.ReactTags__tagInput{
  width: 100%;
  .ReactTags__suggestions{
    width: 100%;
    ul{
      width: 100% !important;
      max-height: 300px;
      overflow: auto; 
    }
  }
}

.file-upload-placehlder{
    background-color: #abede2;
    min-height: 40px;
    width: 50%;
    border-radius: 5px;
    position: relative;
    padding: 5px;
    margin-bottom: 10px;
  input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    z-index: 99;
    cursor: pointer;
  }
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 5px;
    border: 2px dotted #fff;
    font-size: 14px;
  }
}