.profile-information-view {
  background: #fff;
  padding: 25px;
  box-shadow: 0 0 4px 0px #f0f0f0;
  margin-bottom: 15px;
  .profile-information-coll {
    position: relative;
    h3 {
      color: #05574e;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .profile-edit-info-list {
      .inner-form-block {
        .form-row {
          display: flex;
          margin: 0 -10px 10px;
          .form-group {
            width: 100%;
            padding: 0 10px;
            label {
              font-size: 15px;
              color: #7a7a7a;
              font-weight: 500;
              margin-bottom: 5px;
              text-transform: capitalize;
            }
            .form-control {
              height: 50px;
              background-color: #fcfcfc;
              border: 1px solid #e9e9e9;
              border-radius: 6px;
              color: #4a4a4a;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
.Interested-areabox {
  background-color: #fcfcfc;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  color: #4a4a4a;
  font-size: 16px;
  padding: 10px 10px 2px 10px;
  .addskill-badge {
    margin-top: 0px;
    .badge {
      margin-bottom: 8px;
      button {
        background: transparent;
        border: none;
        box-shadow: none;
        margin: 0px;
        padding-right: 0px;
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
    .badge-primary {
      background: #edf8f7;
      font-size: 14px;
      color: #5b948e;
      font-weight: 500;
      padding: 10px 15px;
      display: inline-block;
      border-radius: 5px;
      margin-right: 8px;
    }
  }
}
.profile-info-list {
  .pr-edit-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    img {
      cursor: pointer;
      width: 17px;
    }
  }
  .info-list-li {
    margin: 0px;
    padding: 0px;
    li {
      list-style: none;
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      font-size: 14px;
      color: #576967;
      .plabel {
        font-size: 16px;
        color: #676767;
        font-weight: 500;
        width: 200px;
        min-width: 200px;
        @include Phone {
          width: 160px;
          min-width: 160px;
        }
      }
      .result {
        font-size: 16px;
        color: #676767;
        font-weight: normal;
        .tags {
          display: flex;
          flex-wrap: wrap;
          margin: 0px;
          padding: 0px;
          li {
            margin: 4px 10px 4px 0px;
            background: #edf8f7;
            font-size: 14px;
            color: #5b948e;
            font-weight: 500;
            padding: 5px 15px;
            border-radius: 5px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
.Project-information-coll {
  h3 {
    color: #05574e;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .Project-info-list {
    .nav-tabs {
      border-bottom: 2px solid #e8e8e8;
      .nav-link {
        color: #5a5d5d;
        font-size: 16px;
        font-weight: 500;
        background: transparent;
        border: none;
        border-bottom: 3px solid transparent;
        &.active {
          color: #0e9586;
          font-weight: bold;
          border-bottom: 3px solid #55decf;
        }
      }
    }
    .tab-content {
      .project-detail-list {
        margin-top: 30px;
        .project-dbox {
          background: #f6f9f9;
          padding: 25px;
          margin-bottom: 15px;
          h2.prname {
            font-size: 16px;
            color: #05574e;
            font-weight: 500;
            margin-bottom: 15px;
          }
          .prd-buget-column {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            @include Phone {
              display: block;
            }
            .prdate-budgetprice {
              span {
                color: #636363;
                font-size: 14px;
                font-weight: 500;
                display: block;
              }
              .prdate {
                margin-bottom: 5px;
              }
              .prbudget {
                b {
                  color: #132e31;
                  font-weight: bold;
                  font-size: 16px;
                }
              }
            }
            .prtime {
              .complete-pr-time {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;
                @include Phone {
                  justify-content: flex-start;
                  margin-top: 10px;
                }
                b {
                  margin-left: 5px;
                }
                img {
                  margin-right: 5px;
                  width: 16px;
                }
              }
            }
          }
        }
        .project-pagination {
          .pagination {
            justify-content: flex-end;
            .page-item {
              margin: 5px;
              .page-link {
                color: #878787;
                font-size: 15px;
                font-weight: 500;
                padding-left: 5px;
                padding-right: 5px;
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
              }
              &.active:not(:first-child) {
                a {
                  background: #0e9586;
                  color: #ffffff;
                }
              }
              &:not(:first-child) {
                a {
                  background: #f4f4f4;
                  color: #a9a9a9;
                  font-size: 16.66px;
                  width: 35px;
                  height: 35px;
                  border-radius: 50%;
                  line-height: 22px;
                }
              }
              &:last-child {
                .page-link {
                  background-color: #fff !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
