// Common Variables

$Theme-primary: #099788 !important;
$Theme-secondary: #20bead !important;
$Theme-primary-light: #d6eeeb !important;
$Theme-white: #fff !important;
$labelColor: #797979 !important;
