// Common Variables

$Theme-primary: #099788 !important;
$Theme-secondary: #20bead !important;
$Theme-primary-light: #d6eeeb !important;
$CommonBorder: #c9c8c8 !important;
$Theme-white: #fff !important;
$labelColor: #797979 !important;
$LightButton: #e5e5e5 !important;
$Dark-heading: #222 !important;